/*------------- #VARIABLES --------------*/

$tov-militaris-primary-color: #A2A694;
$tov-militaris-accent-color: #BF544B;

$tov-militaris-text-color:#242226;
$tov-militaris-text-color-contrast: #fff;
$tov-militaris-text-color-darken: #121D26;
$tov-militaris-text-color-black: #222;

$tov-militaris-soft-background:#F2F2F2;
$tov-militaris-section-background: #F6F7FA;
$tov-militaris-ribbon-bg: #EE7D49;
$tov-militaris-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

$tov-militaris-border-radius: 0;
$tov-militaris-border-color: #F2F2F2;