/* Variables */

:root{
    --tov-powerbank-primary-color: #{inspect($tov-powerbank-primary-color)};
    --tov-powerbank-accent-color: #{inspect($tov-powerbank-accent-color)};

    --tov-powerbank-text-color:#{inspect($tov-powerbank-text-color)};
    --tov-powerbank-text-color-contrast: #{inspect($tov-powerbank-text-color-contrast)};
    --tov-powerbank-text-color-darken: #{inspect($tov-powerbank-text-color-darken)};
    --tov-powerbank-text-color-black: #{inspect($tov-powerbank-text-color-black)};

    --tov-powerbank-soft-background:#{inspect($tov-powerbank-soft-background)};
    --tov-powerbank-section-background: #{inspect($tov-powerbank-section-background)};
    --tov-powerbank-ribbon-bg: #{inspect($tov-powerbank-ribbon-bg)};
    --tov-powerbank-box-shadow: #{inspect($tov-powerbank-box-shadow)};

    --tov-powerbank-border-radius: #{inspect($tov-powerbank-border-radius)};
    --tov-powerbank-border-color: #{inspect($tov-powerbank-border-color)};
}