/*------------- #VARIABLES --------------*/

$tov-powerbank-primary-color: #6868AC;
$tov-powerbank-accent-color: #FFC600;

$tov-powerbank-text-color:#465053;
$tov-powerbank-text-color-contrast: #fff;
$tov-powerbank-text-color-darken: #38385B;
$tov-powerbank-text-color-black: #222;

$tov-powerbank-soft-background:#E0E6EB;
$tov-powerbank-section-background: #F6F7FA;
$tov-powerbank-ribbon-bg: #FF2933;
$tov-powerbank-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

$tov-powerbank-border-radius: 10px;
$tov-powerbank-border-color: #E5E9EE;