/* Delivery Section */

.delivery-description,
.payment-description {
    border-radius: 10px;
    background-color: #F6F7FA;
    overflow: hidden;
}
.delivery-title,
.payment-title {
    background-color: #6868AC;
    color: #fff;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.delivery-methods,
.payment-methods {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.delivery-method,
.payment-method {
    background-color: #fff;
    border: 1px solid #CAD4DC;
    height: 50px;
    min-width: 140px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 48%;
    border-radius: 10px;
}
.delivery-methods li {
    flex-grow: 1;
    display: flex;
}

.delivery-descriptions {
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #CAD4DC;
    background: #E0E6EB;
    margin: 20px;
}
.delivery-descriptions strong {
    font-weight: 400;
    text-transform: uppercase;
    color: #6868AC;
}
.payment-text {
    padding-top: 20px;
    text-align: center;
}
.other-title {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
    text-align: center;
}
.payment-on-receive {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #CAD4DC;
    background-color: #F6F7FA;
}

.icon-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6868AC;
}
.icon-button svg {
    fill: #fff;
}

.payment-on-receive .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icons .icon {
    fill: #222;
}
.payment-on-receive .text {
    text-align: center;
    padding-top: 20px;
}


/* Delivery Section (CREAM)*/

.delivery-cream {
    border-radius: 40px 40px 0 0;
    background-color: #FFF8F1;
    padding: 40px 20px 20px;
    margin-bottom: 0;

    .delivery-description {
        border-radius: 0;
        background-color: transparent;
    }

    .delivery-title {
        background-color: transparent;
        color: #2B2320;
        min-height: unset;
        font-size: 36px;
        font-weight: 400;
    }

    .delivery-methods {
        margin: 20px 0 0;
    }

    .delivery-method {
        background-color: transparent;
        border: none;
        height: unset;
        border-radius: 0;
    }

    .delivery-descriptions {
        border-radius: 0;
        padding: 0;
        border: none;
        background: transparent;
        margin: 20px 0;
    }

    .delivery {
        border-radius: 10px;
        background-color: #FFF;
        padding: 20px;
        border: 1px solid #DACABD;
        color: #2B2320;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            bottom: calc(100% - 8px);
            left: 20%;
            transform: translate(-50%,0);
            z-index: 5;
            background-color: #FFF;
            transform: rotate(45deg);
            border-left: 1px solid #DACABD;
            border-top: 1px solid #DACABD;
        }
    }

    .delivery-descriptions strong {
        color: #FABC26;
        font-weight: 700;
    }
}


/* Payment Section (CREAM)*/

.payment-cream {
    background-color: #FFF8F1;   
    padding: 0 20px 60px;
    margin-bottom: 0;

     .payment-description {
        border-radius: 0;
        background-color: transparent;
    }

    .payment-method {
        background-color: transparent;
        border: none;
        height: unset;
        border-radius: 0;
    }

    .payment-methods {
        margin: 20px 0 0;
    }

    .payment-title {
        background-color: transparent;
        color: #2B2320;
        min-height: unset;
        font-size: 36px;
        font-weight: 400;
    }

    .payment-on-receive .text, .payment-text {
        color: #2B2320;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;

        span {
            color: #D04931;
        }
    }

    .payment-methods {
        flex-wrap: nowrap;
        gap: 10px;
    }

    .payment-method {
        background-color: transparent;
        border: none;
        height: unset;
        min-width: unset;
        flex-basis: unset;
        border-radius: 0;
    }

    .payment-on-receive {
        border-radius: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
    }    
}