/* Variables */

:root{
    --tov-cream-primary-color: #{inspect($tov-cream-primary-color)};
    --tov-cream-accent-color: #{inspect($tov-cream-accent-color)};
    --tov-cream-green-color: #{inspect($tov-cream-green-color)};

    --tov-cream-text-color:#{inspect($tov-cream-text-color)};
    --tov-cream-text-color-white: #{inspect($tov-cream-text-color-white)};
    --tov-cream-text-color-black: #{inspect($tov-cream-text-color-black)};

    --tov-cream-soft-background:#{inspect($tov-cream-soft-background)};
    --tov-cream-section-background: #{inspect($tov-cream-section-background)};
    --tov-cream-ribbon-bg: #{inspect($tov-cream-ribbon-bg)};
    --tov-cream-box-shadow: #{inspect($tov-cream-box-shadow)};

    --tov-cream-border-radius: #{inspect($tov-cream-border-radius)};
    --tov-cream-border-color: #{inspect($tov-cream-border-color)};
}