/*------------- #VARIABLES --------------*/

$tov-cream-primary-color: #99806F;
$tov-cream-accent-color: #D04931;
$tov-cream-third-color:#F28A2E;
$tov-cream-green-color: #44592E;

$tov-cream-body-background: #F1E1D3;

$tov-cream-text-color:#2B2320;
$tov-cream-text-color-white: #fff;
$tov-cream-text-color-black: #000;

$tov-cream-soft-background:#E0E6EB;
$tov-cream-section-background: #592D1D;

$tov-cream-border-radius: 20px;
$tov-cream-arrow-border-radius: 0 0 0 40px;
$tov-cream-border-color: #DACABD;