/*------------- #VARIABLES --------------*/

$tov-cream-primary-color: #99806F;
$tov-cream-accent-color: #D04931;
$tov-cream-green-color: #44592E;

$tov-cream-text-color:#2B2320;
$tov-cream-text-color-white: #fff;
$tov-cream-text-color-black: #222;

$tov-cream-soft-background:#E0E6EB;
$tov-cream-section-background: #F6F7FA;
$tov-cream-ribbon-bg: #FF2933;
$tov-cream-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

$tov-cream-border-radius: 0 0 0 40px;
$tov-cream-border-color: #E5E9EE;