/*------------- #VARIABLES --------------*/

$tov-builder-primary-color: #262626;
$tov-builder-accent-color: #FDD81A;

$tov-builder-text-color:#4A4A4A;
$tov-builder-text-color-contrast: #fff;
$tov-builder-text-color-darken: #38385B;
$tov-builder-text-color-black: #222;

$tov-builder-soft-background:#EDEDED;
$tov-builder-section-background: #F6F7FA;
$tov-builder-ribbon-bg: #FF2933;
$tov-builder-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

$tov-builder-border-radius: 10px;
$tov-builder-border-color: #EDEDED;