/*
 * Builder Bank Theme
*/
@import "variables";
@import "root";

/* General styles */

body {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    line-height: 1.45;
    color: var(--tov-builder-text-color);
}

section {
    margin-bottom: 20px;
}
/* Fonts & typography */

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    color: var(--tov-builder-text-color-black);
    padding: 20px 0;
}
h4{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--tov-builder-text-color-black);
    line-height: 40px;
}

strong {
    font-weight: 700;
    color: var(--tov-builder-text-color-darken);
}

p{
    margin-bottom: 1em;
}
p:last-child{
    margin: 0;
}
.gallery{
    display: flex;
    gap: 20px;
}
input::placeholder {
    color: var(--tov-builder-text-color-black);
}

input{ 
    width: 100%;
    display: block;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    padding: 0 20px;
    height: 64px;
    border-radius: var(--tov-builder-border-radius);
    font-weight: 500;
    color: var(--tov-builder-text-color-black);
}
select {
    width: 100%;
    display: block;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    padding: 0 20px;
    height: 64px;
    border-radius: var(--tov-builder-border-radius);
    font-weight: 500;
    color: var(--tov-builder-text-color-black);
    background-color: #FBFBFB;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button{
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.control-wrap{
    margin-bottom: 20px;
    display: block;
}

.padding-bottom-170 {
    padding-bottom: 170px;
}

/* Title section */

.section-title .icon {
    max-width: 60px;
}

.item-title{
    padding: 20px;
    margin: 0;
    background: var(--tov-builder-primary-color);
    color: var(--tov-builder-text-color-contrast);
    text-align: center;

    &.padding-bottom-170 {
        padding-bottom: 170px;
    }
}
.item-title .subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #EDEDED;
}

/* Item's primary image */
.item-image-price {
    margin-top: -150px;
}
.discount-label{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 260px;
    border-radius: 100%;
    position: absolute;
    top: -125px;
    right: -125px;
    z-index: 10;
    padding: 130px 130px 20px 50px;
    font-family: 'Oswald';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--tov-builder-text-color-contrast);
    background-color: var(--tov-builder-ribbon-bg);

    &:after {
        content: '';
        display: block;
        height: 255px;
        width: 255px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        border: 5px solid var(--tov-builder-text-color-contrast);
    }

    span {
        font-family: 'Raleway';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

/* Item's pricing */

.pricing-block{
    border-radius: 0 0 10px 10px;
    background:var(--tov-builder-soft-background);
    color: var(--tov-builder-text-color-black);
    display: flex;
    flex-direction: row;
    text-align: center;

    & > * {
        width: 50%;
        padding: 20px;
    }

    .label{
        font-weight: 500;
        padding: 2px 10px;
    }

    .current-price {
        background-color: var(--tov-builder-primary-color);
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 12px 25px 0px rgba(54, 54, 54, 0.20);

        .label{
            color: var(--tov-builder-text-color-contrast);
        }

        .price {
            color: var(--tov-builder-accent-color);
        }
    }

    .price{
        font-family: 'Oswald';
    }

    .old-price {
        .price{
            .value{
                position: relative;
    
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    top: calc(50% - 2px);
                    left: 0;
                    background-color: var(--tov-builder-accent-color);
                }
            }
        }
    }

    .value{
        font-weight: 700;
        font-size: 36px;
    }

    .currency{
        font-family: 'SF Pro Display';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
}


/* Main Item Advantages */

.advantages-list {
    list-style: none;

    li {
        padding-left: 50px;
        margin-top: 20px;
        padding-bottom: 20px;
        position: relative;
        border-bottom: 1px solid var(--tov-builder-border-color);
    }

    .checkmark{
        width: 25px;
        height: 25px;
        position: absolute;
        left: 0;
        top: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    li:last-of-type{
        border: none;
    }
}


/* Button */
.big-button {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tov-builder-accent-color);
    border-radius: var(--tov-builder-border-radius);
    color: var(--tov-builder-text-color-black);
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
}
/* Items remain block */
.items-remain{
    min-height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--tov-builder-text-color-darken);
    background: #FFFBE5;
    border: 2px dashed var(--tov-builder-accent-color);
    border-radius: var(--tov-builder-border-radius);

    strong{
        padding: 0 10px;
        color: var(--tov-builder-accent-color);
    }
}

/* Discount section */
.group-discount{
    background: var(--tov-builder-section-background);

    .section-title {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}

.discount-list{
    overflow: hidden;

    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: var(--tov-builder-soft-background);
        color: var(--tov-builder-text-color-black);
        align-items: center;
        font-weight: 700;
        padding-right: 20px;
    }
}

.discount-quantity {
    font-size: 20px;
    display: flex;
    width: 82px;
    height: 80px;
    padding-right: 8px;
    color: var(--tov-builder-accent-color);
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--tov-builder-primary-color);
    border-radius: 7px;
}
.discounted-price {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Oswald';
}
.discount {
    font-size: 24px;
    font-weight: 400;
}

/* Countdown section */

.countdown {
    .section-title {
        margin-bottom: 20px;
    }
}

.countdown-content-wrapper {
    border-radius: var(--tov-builder-border-radius);
    background: var(--tov-builder-soft-background);
    padding: 20px;
}

.countdown__timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
.countdown__item {
    color: var(--tov-builder-text-color-contrast);
    text-align: center;
    margin-right: 21px;
    height: 115px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: var(--tov-builder-primary-color);
    border-radius: var(--tov-builder-border-radius);

    &:first-of-type{
        background-color: var(--tov-builder-accent-color);
        color: var(--tov-builder-text-color-black);
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.countdown__value {
    display: block;
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
}
.countdown__label {
    font-weight: 500;
}
.info-block {
    text-align: center;
    font-size: 14px;

    strong {
        font-weight: 400;
    }

    p {
        color: #727272;
    }
}

/* Description section */

.detailed-description {
    text-align: center;

    .section-title {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    strong {
        font-weight: 500;
        color: var(--tov-builder-text-color-black);
    }
}

.detailed-description img,
.detailed-description object,
.detailed-description picture,
.detailed-description video,
.yt-video{
    border-radius: var(--tov-builder-border-radius);
    overflow: hidden;
}

.yt-video,.gallery, .wp-picture{
    margin-bottom: 16px;
}

.yt-video {
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #38385B;
        opacity: .2;
    }

    .video-control {
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* Benefits section */

.benefits{
    background-color: var(--tov-builder-primary-color);
    padding: 20px;

    .section-title{
        color: var(--tov-builder-text-color-contrast);
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .big-button {
        margin-top: 40px;
    }
}

.benefit-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .benefit-item-thumb {
        border-radius: var(--tov-builder-border-radius);
        width: 82px;
        height: 82px;
        min-width: 82px;
        min-height: 82px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px;
    }

    .title {
        position: relative;
        padding-bottom: 5px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 3px;
        background-color: var(--tov-builder-accent-color);
        height: 30px;
        text-align: left;
        padding: 0 10px;
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    .text {
        color: #B3B3B3;
    }
}


/* Steps section */

.step-to-step {
    background-color: #FBFBFB;
    overflow: hidden;

    .section-title {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .steps-list{
        position: relative;

        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:20px;
            margin-bottom: 20px;
            background-color:  var(--tov-builder-text-color-contrast);
            border-radius: var(--tov-builder-border-radius);
            position: relative;
            padding: 20px;

            &:last-child {
                .separate-icon {
                    display: none;
                }
            }
        }
    }

    .step-number {
        color: var(--tov-builder-text-color-black);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
    }

    .step-list-item-thumb {
        border-radius: var(--tov-builder-border-radius);
        width: 82px;
        height: 82px;
        min-width: 82px;
        min-height: 82px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .separate-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        width: 20px;
        height: 40px;
        background-color: #F8F8F8;
        border-radius: 20px;
        position: absolute;
        top: calc(100% - 10px);
        left: 50px;
        z-index: 5;

        .circle {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: var(--tov-builder-accent-color);
        }

        .line {
            display: block;
            width: 4px;
            height: 8px;
            border-radius: 4px;
            background-color: var(--tov-builder-text-color-black);
        }
    }
}


/* Characteristics Section */

.characteristics {
    .section-title {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}

#builder-character-slider {
    padding: 0 20px;
    margin-bottom: 60px;

    img{
        border-radius: var(--tov-builder-border-radius);
        min-width: 100%;
    }

    .splide__pagination {
        bottom: -40px;
    }

    .splide__pagination__page {
        background: var(--tov-builder-text-color-black);
        height: 3px;
        opacity: 1;
        width: 14px;
        margin: 9px 6px;
        border-radius: 4px;
    }

    .splide__pagination__page.is-active {
        background: transparent;
        border: 2px solid var(--tov-builder-text-color-black);
        height: 10px;
        opacity: 1;
        width: 10px;
        border-radius: 100%;
    }

    .splide__arrow {
        background: var(--tov-builder-text-color-black);
        border: 2px solid var(--tov-builder-text-color-contrast);
        opacity: .9;
        width: 50px;
        height: 50px;

        svg {
            fill: var(--tov-builder-text-color-contrast);
        }
    }

    .splide__arrow--prev {
        left: 5px;
    }

    .splide__arrow--next {
        right: 5px;
    }
}

.characteristics__list{
    padding: 0;
    margin: 20px 0;

    li {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        border-radius: var(--tov-builder-border-radius);

        &:nth-child(odd) {
            background: #FBFBFB;
        }

        strong {
            font-size: 18px;
            font-weight: 500;
            color: var(--tov-builder-text-color-black);
        }
    }
}

/* Reviews section */

section.reviews{
    background-color: var(--tov-builder-primary-color);
    padding: 20px;
    margin-bottom: 0;
}

.reviews .section-title{
    color: var(--tov-builder-text-color-contrast);
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#builder-reviews-slider {
    padding: 0 20px;
    margin-bottom: 60px;

    .splide__pagination {
        bottom: -40px;
    }

    .splide__pagination__page {
        background: var(--tov-builder-accent-color);
        height: 3px;
        opacity: 1;
        width: 14px;
        margin: 9px 6px;
        border-radius: 4px;
    }

    .splide__pagination__page.is-active {
        background: transparent;
        border: 2px solid var(--tov-builder-accent-color);
        height: 10px;
        opacity: 1;
        width: 10px;
        border-radius: 100%;
    }

    .splide__arrow {
        background: var(--tov-builder-text-color-black);
        border: 2px solid var(--tov-builder-text-color-contrast);
        opacity: .6;
        width: 50px;
        height: 50px;

        svg {
            fill: var(--tov-builder-text-color-contrast);
        }
    }

    .splide__arrow--prev {
        left: 2px;
    }

    .splide__arrow--next {
        right: 2px;
    }
}

.review-item-vertical {
    border-radius: var(--tov-builder-border-radius);
    overflow: hidden;
    background-color: var(--tov-builder-text-color-contrast);
    text-align: center;
}

/* Reviews list */

.review-item-horizontal {
    margin-bottom: 20px;

    .review-item-content {
        border-radius: var(--tov-builder-border-radius);
        background-color: var(--tov-builder-text-color-contrast);
        text-align: center;
        padding: 20px 20px 60px;
    }

    .review-text {
        padding: 0;
    }
}
.review-item-vertical .review-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: -40px;
}
.review-item-avatar{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5px solid var(--tov-builder-text-color-contrast);
}
.review-item-vertical .review-author-name{
    color: var(--tov-builder-text-color-black);
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.review-item-horizontal .review-author{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--tov-builder-text-color-contrast);
    margin-top: -40px;
}
.review-item-horizontal .review-item-avatar{
    width: 80px;
    height: 80px;
}
.review-item-horizontal .name{
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin: 5px 0;
}
.review-title{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--tov-builder-text-color-black);
}
.review-text{
    padding: 20px 20px 40px;
    position: relative;
}

.author-city{
    display: block;
}

/* How to checkout section */

.how-to-checkout {
    background-color: var(--tov-builder-section-background);
    padding: 20px;

    .section-title {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}

.how-to-checkout .checkout-step {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap:20px;
    padding-bottom: 20px;
    position: relative;

    &:last-of-type {
        padding-bottom: 0;

        .separate-icon  {
            display: none;
        }

    }

    &:nth-child(even) {
        flex-direction: row-reverse;

    }

    .separate-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        width: 20px;
        height: 40px;
        background-color: #F8F8F8;
        border-radius: 20px;
        position: absolute;
        top: calc(100% - 30px);
        left: calc(50% - 10px);
        z-index: 5;

        .circle {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: var(--tov-builder-accent-color);
        }

        .line {
            display: block;
            width: 4px;
            height: 8px;
            border-radius: 4px;
            background-color: var(--tov-builder-text-color-black);
        }
    }

    .checkout-step-thumb {
        width: 82px;
        height: 82px;
        min-width: 82px;
        min-height: 82px;
        border-radius: var(--tov-builder-border-radius);
        background-color: var(--tov-builder-text-color-black);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.how-to-checkout .step-number {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    font-family: 'Oswald';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F2F2F2;
}
.how-to-checkout .step-description {
    position: relative;
    background-color: var(--tov-builder-text-color-contrast);
    border-radius: var(--tov-builder-border-radius);
    padding: 20px;
}
.how-to-checkout .step-title {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;
    position: relative;
}

.how-to-checkout .step-text {
    position: relative;
    z-index: 2;
}

.order-form{
    padding-top: 20px;

    input {
        padding-left: 90px;
    }

    input[name="username"] {
        background-image: url("../../icons/builder/user.svg");
        background-repeat: no-repeat;
        background-position: -1px -1px;
    }

    input[name="phone"] {
        background-image: url("../../icons/builder/phone.svg");
        background-repeat: no-repeat;
        background-position: -1px -1px;
    }
}


/* Footer design */

.site-footer{
    background-color: var(--tov-builder-primary-color);
    color: var(--tov-builder-accent-color);

    padding: 20px 0;
}
.site-footer a{
    color: var(--tov-builder-accent-color);
}
.footer-text{
    text-align: center;
    padding: 20px;
}
.footer-text h4 {
    margin-bottom: 10px;
}
.footer-contacts {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    flex-direction: column;
    border-radius: var(--tov-builder-border-radius);
    background-color: #2D2D2D;
    margin: 0 20px;
}

.footer-contact-item {
    border-bottom: 1px solid #3C3C3C;
    display: flex;
    gap: 20px;
    padding: 20px 0;
    color: #F2F2F2;

    &:last-child {
        border-bottom: 0;
    }
}

.footer-icon{
    fill: var(--tov-builder-accent-color);
}

.footer-menu {
    padding: 40px 20px 20px;
}
.footer-menu:before{
    content: "";
    display: block;
    background-color: #3C3C3C;
    height: 1px;
}
.footer-menu ul {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.footer-menu li {
    white-space: nowrap;
}